body {
    background-color: rgb(43, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 35px;
    box-shadow: 0px 0px 20px rgba(248, 9, 9, 0.5);
    background-image: linear-gradient(to bottom, #444444, #181920);
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 20px;
    color: rgb(5, 5, 5);
    border: 1px solid salmon;
    width:250px;
    height: 45px;
    outline: none;
    border-radius: 8px;

}

.login img {
    width: 250px;
    height: auto;
    padding: 20px;
}

.input::placeholder {
    color: #ffffff;
    font-size: 14px;
}

/* form [type="submit"] {
    display: block;
    background-color: #c31616;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
} */

#btn-entrar { 
    width: 100px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #c31616;
    color: #ffffff;
    padding: 0;
    
}

p{
    color: #ffffff;
}

a {
    color: #bb5151;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    }

#msgError {
    color: #ffffff;
}